
h1{
    color: #fff;
}
h2.title{
    color: #252584;
    font-weight: 700;
    margin-bottom: 30px!important;
}
.visible{
    display: block!important;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-fluid.banner {
    background-color: #252584;
    background-image: url(./assets/2-banner/banner-rounded-001.svg), url(./assets/2-banner/banner-rounded-002.svg);
    background-position: bottom 10px left -5%, bottom 10px right -5%;
    background-repeat: no-repeat;
}
.container.body-section .row:first-child {
    margin-top: 50px;
}
@media (max-width: 1300px) {
    .container-fluid.banner {
        background-image: url(./assets/2-banner/banner-rounded-001.svg);
        background-position: bottom 10px left -5%;
        background-repeat: no-repeat;
    }
}
@media (max-width: 1050px) {
    .carousel-control-next {
        bottom: 105%;
    }
}
@media (max-width: 1200px) {
    .card {
        width: 25%!important;
    }
}
@media (max-width: 1050px) {
    .card {
        width: 45%!important;
    }
}
@media (max-width: 768px) {
    .container.body-section {
        margin-top: 80px!important;
    }

    .body-section .col-sm-5,.important .col-sm-5 {
        margin-left: 20px!important;
    }

    .bottom-section .contactMap {
        padding: 0 0 30px 0!important;
    }
}
#ModalCenter .modal-title ,#ModalCenter .col-form-label ,#editModal .modal-title ,#editModal .col-form-label{
    color: #141471;
    font-weight: bold;
}
.row.top-section{
    padding-top: 10px;
}
.form-control.search{
    width: 80%;
}
.form-control.search:focus{
    box-shadow: none;
}
.row.banner-detail {
    position: relative;
    top: 90px;
}
.banner-detail h1 {
    color: #fff;
    font-weight: bold;
    font-size: 2.7rem;
}
.banner-detail p{
    margin-bottom: 0;
    color: #d0d0d0;
}
.body-section .row{
    margin: 20px 0;
}

@media (min-width: 960px) {
    .body-section .col-lg-5{
        padding: 57px;
    }
}
.row.blog {
    margin:0 0 180px 0!important;
}
.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}
.blog .carousel-indicators li {
    background: #e0e0fe;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.blog .carousel-indicators .active {
    background: #252584;
}
.favourite{
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.happy-face{
    background-color: #ff00b8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}
.carousel-inner{
    margin-bottom: 100px;
}
.body-section p{
    color: #909090;
}
.bottom-section .title {
    margin: auto;
}
.bottom-section .sponsor{
    margin-bottom: 100px;
}

#Message{
    height: 150px;
}
.bottom-section label{
    color: #252584;
    font-weight: 700;
}
.bottom-section .contactForm{
    background: #fff;
    padding: 37px;
    border-radius: 10px;
    -webkit-box-shadow: 6px 16px 95px -17px rgba(199,199,199,1);
    -moz-box-shadow: 6px 16px 95px -17px rgba(199,199,199,1);
    box-shadow: 6px 16px 95px -17px rgba(199,199,199,1);
    height: max-content;
}
.bottom-section .contactForm .btn-primary{
    float: right;
    padding: 6px 30px;
}
.bottom-section .contactMap{
    padding: 30px 0;
}
.bottom-section{
    margin-bottom: 150px;
}

.carousel-item .col-md-3 p{
    margin-bottom: 0;
}
.flex-row.top{
    margin-bottom: 15px;
}
.people {
    margin-right: 20px;
}
.comment {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 16px 15px -17px rgba(199,199,199,1);
    -moz-box-shadow: 6px 16px 15px -17px rgba(199,199,199,1);
    box-shadow: 6px 16px 15px -17px rgba(199,199,199,1);
    margin: 5px 10px;
}

.comment .name {
    font-weight: bold;
    color: #1b1e21!important;
    font-size: 1rem!important;
}
.comment p{
    margin-bottom: 0!important;
    color: #4e555b;
}
.carousel-inner {
    left: 20%;
    overflow-x: hidden;
    width: 80%;
    position: sticky;
}
.carousel-item .people img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
}
.user{
    margin: auto;
    background: #dcf0ff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.user .img-fluid:first-child{
    border-radius: 50%;
}
.user .edit{
    position: absolute;
    right: 205px;
    top: 79px;
    background: #dcf0ff;
    border-radius: 50%;
    padding: 10px;
    -webkit-box-shadow: -7px 6px 13px -9px #969696;
    box-shadow: -7px 6px 13px -9px #969696;

}
.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}
.inputfile + label {
    cursor: pointer;
    margin: 0!important;
}
.edit-btn {
    text-align: right;
}
.btn-primary#add {
    color: #fff;
    background-color: #eedeff;
    border-color: #eedeff;
    color: #8251bc;
    padding: 6px 30px;
}
.btn-primary#add:focus{
    box-shadow: 0 0 0 0.2rem #8251bc;
}
.edit-btn button.btn.btn-primary,.edit-btn button.btn.btn-primary:hover {
    color: #ffd767;
    background-color: #fffede;
    border-color: #fffede;
}
.edit-btn button.btn.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem #ffd767;
}
.col-sm-6.remove-card .row {
    justify-content: flex-end;
}
.remove-card{
    display: none;
}
.col-sm-2.garbage .cont {
    cursor: pointer;
    background: #ffeeee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.col-sm-2.cancel {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.col-sm-2.cancel p {
    margin: 0!important;
    font-weight: bold;
}
.container.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.card{
    width: 18%;
}
.card .edit{
    position: absolute;
    right: 10px;
    top: 10px;
    background: #dcf0ff;
    border-radius: 50%;
    padding: 10px;
    display: none;
}
.card .remove {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    display: none;
}
.card-img-top{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
p.card-text.name, p.card-text.card-subtitle {
    text-align: center;
}
p.card-text.name {
    font-weight: bold;
}
p.card-text.card-subtitle {
    color: #4e555b;
    font-size: 0.9rem;
}
.row.footer{
    background-color: #252584;
    background-image: url(./assets/6-footer/footer-rounded-001.svg), url(./assets/6-footer/footer-rounded-002.svg);
    background-position: left bottom, right bottom;
    background-repeat: no-repeat;
    margin: 0!important;
}
@media (max-width: 1300px) {
    .row.footer {
        background-color: #252584;
        background-image: url(./assets/6-footer/footer-rounded-001.svg);
        background-position: left bottom;
        background-repeat: no-repeat;
        margin: 0 !important;
    }
}
.row.footer h3, .row.footer h2{
    color: #fff;
    font-weight: 600;
}
.row.footer h3{
    font-size: 1.4rem;
}
.row.footer p{
    color: #bbb;
    font-size: 1rem;
}
.row.footer .container{
    padding: 30px 0;
}
.row.footer .col-sm-8{
    display: flex;
    align-items: center;
}
.row.footer .col-lg-4{
    display: flex;
    align-items: center;
}
.row.footer  .col-lg-5 h3, .row.footer  .col-lg-3 h3 {
    margin-bottom: 0;
}

/* The container */
.cnt {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cnt input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cnt:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cnt input:checked ~ .checkmark {
    background-color: #252584;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cnt input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cnt .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}